@font-face {
    font-family: 'Neutra Cond';
    src: url('NeutrafaceCondensed-Bold.woff2') format('woff2'),
        url('NeutrafaceCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neutra Cond';
    src: url('NeutrafaceCondensed-Light.woff2') format('woff2'),
        url('NeutrafaceCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

